<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
   <h:head>
        <title>Consulta de Cliente</title>
        <h:outputStylesheet library="css" name="consulta.css"/>
    </h:head>
    <h:body > 
        <h:form>
            <p:fieldset legend="Buscar Cliente" >
                <h:panelGrid columns="6">
                    <p:outputLabel id="lblBusqueda" value="Busqueda"/>
                    <p:selectOneMenu value="">
                        <f:selectItem itemLabel="Cedula" />
                        <f:selectItem itemLabel="Contrato" />
                    </p:selectOneMenu>

                    <p:inputText id="lbltNumero" required="true"/>
                    <p:outputLabel id="lblTicket" value="Ticket"/>
                    <p:inputText id="txtTicket" required="true"/>

                    <p:commandButton value="Consultar" icon="ui-icon-key" style="background-color: palegreen"/>

                </h:panelGrid>
            </p:fieldset>
            
            <p:spacer width="100" height="10" />
        
            <p:fieldset legend="Datos del Cliente" >
                <h:panelGrid columns="4">
                    <p:outputLabel id="lblCedula" value="Cedula"/>
                    <p:inputText id="txtCedula" required="true"/>
                    <p:outputLabel id="lblNombre" value="Nombre"/>
                    <p:inputText id="txtNombre" required="true"/>
                    <p:outputLabel id="lblApellido" value="Apellido"/>
                    <p:inputText id="txtApellido" required="true"/>
                    <p:outputLabel id="lblEmail" value="Email"/>
                    <p:inputText id="txtEmail" required="true"/>
                    <p:outputLabel id="lblDireccion" value="Direccion"/>
                    <p:inputText id="txtDireccion" required="true"/>
                    <p:outputLabel id="lblCiudad" value="Ciudad"/>
                    <p:inputText id="txtCiudad" required="true"/>
                    <p:outputLabel id="lblTelefono" value="Telefono"/>
                    <p:inputText id="txtTelefono" required="true"/>
                    <p:outputLabel id="lblNacionalidad" value="Nacionalidad"/>
                    <p:inputText id="txtNacionalidad" required="true"/>
                    <p:outputLabel id="lblEstadoCivil" value="Estado Civil"/>
                    <p:inputText id="txtEstadoCivil" required="true"/>
                    <p:outputLabel id="lblPago" value="Forma de Pago"/>
                    <p:inputText id="txtPago" required="true"/>
                </h:panelGrid>
                
            </p:fieldset>
            
            <p:spacer width="100" height="10" />
            
            <p:fieldset legend="Inconveniente Reportado">
                <h:panelGrid columns="3">
                    <p:selectOneMenu value="">
                        <f:selectItem itemLabel="xxxx" />
                        <f:selectItem itemLabel="xxxx" />
                    </p:selectOneMenu>
                    <p:outputLabel id="lblInternetFijo" value="Internet Fijo"/>
                    <p:inputText id="txtReporte1" required="true"/>
                    
                    <p:selectOneMenu value="">
                        <f:selectItem itemLabel="xxxx" />
                        <f:selectItem itemLabel="xxxx" />
                    </p:selectOneMenu>
                    <p:outputLabel id="lblTelefoniaFija" value="Telefonia Fija"/>
                    <p:inputText id="txtReporte2" required="true"/>
                    
                </h:panelGrid>
            </p:fieldset>
                            
        </h:form>
    </h:body>
</html>
