<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Detalle Problema</title>
        <h:outputStylesheet library="css" name="consulta.css"/>
    </h:head>
    <h:body id="fondoDetalle">
        <h:form>
            <p:fieldset legend="Inconveniente">
                <h:panelGrid columns="2">
                   <p:outputLabel id="lblDistribuidor" value="DISTRUIBIDOR"/>
                   <h:selectOneMenu value="" style="width: 220px" >
                        <f:selectItem itemLabel="Matriz Gye" />
                        <f:selectItem itemLabel="Matriz Quito" />
                   </h:selectOneMenu>
                   
                    <p:outputLabel id="lblTipo" value="TIPO DE SERVICIO"/>
                   <h:selectOneMenu value="" style="width: 220px">
                        <f:selectItem itemLabel="Internet Fijo" />
                        <f:selectItem itemLabel="Telefonia Fija" />
                   </h:selectOneMenu>
                    
                     <p:outputLabel id="lblProblema" value="PROBLEMA CLIENTE"/>
                   <h:selectOneMenu value="" style="width: 220px">
                        <f:selectItem itemLabel="Sin Sevicio" />
                        <f:selectItem itemLabel="Matriz Quito" />
                   </h:selectOneMenu>
                     
                     <p:outputLabel id="lblSector" value="SECTOR"/>
                   <h:selectOneMenu value="" style="width: 220px">
                        <f:selectItem itemLabel="Fertiza" />
                        <f:selectItem itemLabel="Guayacanes" />
                   </h:selectOneMenu>
                     
                     <p:outputLabel id="lblTsoporte" value="TIPO DE SOPORTE"/>
                   <h:selectOneMenu value="" style="width: 220px">
                        <f:selectItem itemLabel="Consulta" />
                        <f:selectItem itemLabel="XXXXX" />
                   </h:selectOneMenu>
                </h:panelGrid>  
                <p:commandButton value="Resolver" icon="ui-icon-key"  style="margin-top:20px;"/>
                
            </p:fieldset>
            
            <p:spacer width="100" height="10" />
            
            <p:fieldset legend="Detalle Inconveniente">
                <h:panelGrid columns="7">
                
                <h:selectOneMenu value="" style="width: 220px">
                        <f:selectItem itemLabel="P.MODEM" />
                        <f:selectItem itemLabel="XXXXX" />
                </h:selectOneMenu><br></br>
                <br></br>       
                
                <h:selectOneMenu value="" style="width: 220px">
                        <f:selectItem itemLabel="P.CONECTIVIDAD" />
                        <f:selectItem itemLabel="XXXXX" />
                         </h:selectOneMenu><br></br>
                <br></br>
                
                <h:selectOneMenu value="" style="width: 220px">
                        <f:selectItem itemLabel="P.AUTOTENTICACION" />
                        <f:selectItem itemLabel="XXXXX" />
                </h:selectOneMenu>
                
                <p:outputLabel id="lblAnexar" value="Anexar Datos" style="margin-left: 250px"/>
                <h:selectOneMenu value="" style="width: 220px">
                        <f:selectItem itemLabel="DISPOSITIVOS" />
                        <f:selectItem itemLabel="XXXXX" />
                </h:selectOneMenu>
                </h:panelGrid>
               
            </p:fieldset>
            <br></br>
            <p:fieldset legend="Comentario">
            <h:inputTextarea style="width: 1280px"/>
            </p:fieldset>
            
            <p:commandButton value="Firmar" style="margin-left: 450px; margin-top:20px; background-color: palegreen; width: 150px "/>
            <p:commandButton value="Cancelar" style="margin-left: 190px; margin-top:20px; background-color: palegreen; width: 150px "/>
        </h:form>
    </h:body>
</html>


