<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Inicio de Sesion</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
              crossorigin="anonymous"></link>

    </h:head>
    <h:body style="overflow: hidden;background: #8fa9ee" >
        <div style=" display: flex;
             align-items: center;
             justify-content: center;
             margin-top: 8%">
            <p:panel id="basic" style="text-align: center; width: 65%;line-break: normal;background: #ffffff">

                <div class="row" style=" display: flex;
                     align-items: center;
                     justify-content: center;">

                    <div class="col-xs-6 col-md-4" >
                        <h:graphicImage style="margin-left: -50%" width="150%"  value="/Imgagenes/fondo2.jpg"/>
                    </div>

                    <div class="col-xs-6 col-md-4">
                        <h:form>
                            <p:panel id="basic" header="Incio de Sesion" 
                                     style="text-align: center;width: 150%;background: #66ff99">

                                <h:panelGrid style="margin-top: 5%;text-align: right" columns="2" cellpadding="5%">

                                    <p:outputLabel for="txtUsername" value="Usuario:"/>
                                    <p:inputText id="txtUsername"/>

                                    <p:outputLabel for="txtpassword" value="Contraseña:"/>
                                    <p:password id="txtpassword"/>

                                </h:panelGrid>

                                <p:commandButton id="btn" value="Iniciar Sesión"  
                                                 style="width: 55%;height: 50px;background: #6666ff;margin-top: 5%;color: #ffffff" 
                                                 icon="fa fa-sign-in" />
                            </p:panel>
                        </h:form>
                    </div>
                </div>
            </p:panel>
        </div>
    </h:body>
</html>


