<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
         <p:layout fullPage="true">

            <p:layoutUnit position="north" style="text-align: center" size="60" >
                <p:toolbarGroup align="rigth" >
                    <h:panelGrid columns="2" >
                        <p:outputLabel style="margin-left: 600%;font-size: 25px;font-weight: bold" value="TICKETS"></p:outputLabel>
                        <p:commandButton style="margin-left: 500%;width: 200px"  type="submit" value="Cerrar Sesion" icon="fa fa-user"/>
                    </h:panelGrid>
                </p:toolbarGroup>
            </p:layoutUnit>

            <p:layoutUnit position="west" size="250" >
                <h:form id="frmMenu" style="font-size: 14px">   
                    <p:panelMenu style="width:auto">
                        <p:submenu label="Mantenimientos">
                            <p:menuitem value="Clientes" update="pnlCentro" icon="fa fa-street-view" />
                            <p:menuitem value="Usuarios" update="pnlCentro" icon="fa fa-users"/>                         
                            <p:menuitem value="Servicios" update="pnlCentro" icon="fa fa-sitemap" />
                        </p:submenu>

                        <p:submenu label="Procesos" >
                            <p:submenu label="Links">
                                <p:submenu label="PrimeFaces">
                                    <p:menuitem value="Facturación" url="http://www.primefaces.org" icon="pi pi-home" />
                                    <p:menuitem value="Reportes" url="http://www.primefaces.org/documentation" icon="pi pi-file" />
                                </p:submenu>
                            </p:submenu>
                        </p:submenu>
                    </p:panelMenu>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <p:panel id="pnlCentro" style="border: none">
                    <!--<ui:include src="#{menuMB.url}" ></ui:include>-->    
                </p:panel>

            </p:layoutUnit>

        </p:layout>
    </h:body>
</html>


